.logo
{
    max-height: 50px;
    float: left;
    margin-left: 15px;
}

.btn-submit-form.btn.btn-secondary {
    background-color: #ff4389 !important;
    border-color: #ff4389 !important;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 15px;
}

.btn-add-employee.btn.btn-secondary {
    background-color: #ff4389 !important;
    border-color: #ff4389 !important;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 25px;
}

.btn-add-employee.btn.btn-secondary:hover {
    background-color: #ffffff !important;
    border-color: #ff4389 !important;
    color: #ff4389 !important;  
}

.center-layout
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    max-width: 25%;
    margin-left: 15%;
}

.main-layout-background
{
    position:fixed;
    right:0;
    bottom:0;
}

.field-color-change
{
    color: red;
    font-size: small;
}

.form-buttons
{
    display: flex;
    justify-content: space-between;
    float: right;
}

.label-element
{
    margin-bottom: 15px;
}

.row-style
{
    display: flex;
    flex-direction: row;
}

.row-in-form
{
    justify-content: space-between;
}